/* header */
#main-header{
    min-height: 500px;
    grid-column: 1/span 4;
   
    
}
#main-header h1{
    padding-top: 0.5em;
}
#headerBg{
    position: absolute;
    background-image: url(../img/headerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.4;
}
#subscribe {
 text-decoration: none;
 color: rgb(65, 61, 61);
 margin-top: 5em;
 background-color:  rgb(187, 185, 185);
}
#subscribe:hover{
    background-color:  rgb(65, 61, 61);
    color: rgb(187, 185, 185);
}
.content-wrap h1{
    color: rgb(129, 18, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
.content-wrap h3{
    color: rgb(36, 35, 35);
    font-weight: bolder;
    font-size: 1em;
    padding-bottom: 1em;
}
.content-wrap{
    justify-self: center;
    align-self: center;
    grid-column: 1/span 4;
}